<h1>Sign-In Page</h1>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <button>Login</button>
</form>