<h1>Sign-Up Page</h1>

<form action="/register" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="password" placeholder="password">
    <button>Sign-up</button>
</form>